<div class="container">
  <div class="row">
    <div class="col">
      <div class="accordion" id="accordionExample">
        <div class="card" *ngFor="let item of moviesStarWars">
          <a class="card-header btn btn-link" type="button" data-toggle="collapse" href="#collapse{{item.episode_id}}" aria-expanded="true" aria-controls="collapse">
                {{item.title}}
              </a>

          <div id="collapse{{item.episode_id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <dl class="row">
                <dt class="col-3 card-text"><b>Synopsis</b></dt>
                <dd class="col-9 card-text">{{item.opening_crawl}}</dd>

                <dt class="col-3 card-text"><b>Director</b></dt>
                <dd class="col-9 card-text">{{item.director}}</dd>
                
                <dt class="col-3 card-text"><b>Episode</b></dt>
                <dd class="col-9 card-text">{{item.episode_id}}</dd>

                <dt class="col-3 card-text"><b>Producer</b></dt>
                <dd class="col-9 card-text">{{item.producer}}</dd>

                <dt class="col-3 card-text"><b>Release Date</b></dt>
                <dd class="col-9 card-text">{{item.release_date}}</dd>
              </dl>

            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

</div>
